body, html{
  height:100%;
}
body{
  margin: 0px;
  font-size: 18px;
  background-image: url(img/bg.png);
  background-repeat: repeat;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton, .addDancerButton1, .addDancerButton2{
  float: right;
  padding:5px 12px;
}
.title, .lineUpButton .keepDancing{
  float: left;
  padding:5px 12px;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:12px solid rgb(184, 95, 95);
  border-radius:10px;
  position:absolute;
  display:block;
  z-index: 500;
  transition: 1s linear;
}
.blinky{
  position: absolute;
  content:url(img/star.png)
}
.blinky .clicked {
  position: absolute;
  content: url(img/like-1.png);
  transition: .5s linear;
}
.twirly {
  position: absolute;
  content:url(img/compact-disc.png);
}
.beaty {
  position: absolute;
  content:url(img/dislike-1.png)
}

.beatylove {
  position: absolute;
  content: url(img/like-1.png)
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes beat {
  to {
    transform: scale(1.2);
  }
}



